asgiref==3.11.1
Django==4.2.30
django-appconf==1.2.0
django-imagekit==6.1.0
gunicorn==23.0.0
mpmath==1.3.0
pilkit==3.0
pillow==11.3.0
psycopg==3.2.13
psycopg-binary==3.2.13
python-decouple==3.8
sqlparse==0.5.5
sympy==1.14.0
typing_extensions==4.15.0
